
<div class="home-container">
    <div class="file-uploader-container">
        <div class="file-selector">
            <p class="file-selector-title">Select File to Upload</p>
            <form [formGroup]="uploadForm">
                <div class="file-upload-fields">
                    <input type="text" formControlName="fileTitle" placeholder="File Title">
                </div>
                <div  class="file-upload-fields">
                    <input type="text"  formControlName="fileTag" placeholder="File Tag">
                </div>
                <div  class="file-upload-fields">
                    <input type="text"  formControlName="fileDescription" placeholder="File Description">
                </div>
                <input class="file-input" type="file" formControlName="selectedFile" (change)="onFileSelect($event)">
                <button class="file-action" type="submit"
                [ngClass]="{'disable-submit': !uploadForm.valid}"
                [disabled]="!uploadForm.valid" 
                (click)="onSubmit(uploadForm.value)">Upload</button> 
            </form>
        </div>
    </div>

    <div class="file-list-container">
        <div class="search-file">
            <div class="search-main">
                <span class="search-file-container"> 
                    <input type="text" placeholder="Search File" [(ngModel)]="searchQuery" (keyup.enter)="searchFile()">
                    <span class="material-icons search-action" (click)="searchFile()">
                        search
                    </span>
                    <span *ngIf="searchQuery" class="material-icons clear-search" (click)="resetSearch()">
                        cancel
                    </span>
                </span>
            </div>
            <div class="file-view-indicator">
                Click on the file name for preview
            </div>
        </div>
        <div class="file-table-container">
            <table class="file-table">
                <thead>
                    <tr>
                        <th class="file-title">File Name</th>
                        <th class="uploaded-by">File Title</th>
                        <th class="uploaded-by">File Tag</th>
                        <th class="uploaded-by">File description</th>
                    </tr>
                </thead>
                
                <tbody >
                    <ng-container *ngFor="let file of fileList; let i = index; trackBy: trackByFn"> 
                        <tr>
                            <td class="file-title" *ngIf="file?.file_type != 'pdf'"><span (click)="openFile(i)">{{file?.file_name}}</span></td>
                            <td class="file-title" *ngIf="file?.file_type == 'pdf'"><a href="{{file?.filePath}}" target="_blank">{{file?.file_name}}</a></td>
                            <td class="uploaded-by">{{file?.title}}</td>
                            <td class="uploaded-by">{{file?.tag}}</td>
                            <td class="uploaded-by">{{file?.description}}</td>
                        </tr>
                        <tr *ngIf="file.isOpen">
                            <div class="media-container" *ngIf="file?.file_type == 'jpeg' || file?.file_type == 'jpg'">
                                <img src="{{file?.filePath}}">
                            </div>
                            <div class="media-container" *ngIf="file?.file_type == 'mp4'">
                                <video width="320" height="240" controls>
                                    <source src="{{file?.filePath}}" type="video/mp4">
                                </video>
                            </div>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="no-data-found" *ngIf="!fileList.length">
                No Data Found
            </div>
        </div>
    </div>
</div>