
<div class="sign-in-container">
    <div class="sign-in-camp">
        <div class="sign-in-head sign-in-header upper-case">Sign-In</div>
        <form [formGroup]="signInForm" class="sign-in-form">
            <div class="sign-in-header">
                <input type="text" class="sign-in-field" formControlName="username" placeholder="Email"> 
            </div>
            <div class="sign-in-header">    
                <input type="password" class="sign-in-field" formControlName="password" placeholder="Password"/>
            </div>
            <div class="sign-in-header">    
                <button type="submit" class="sign-in-field submit" 
                [ngClass]="{'disable-submit': !signInForm.valid}"
                [disabled]="!signInForm.valid" 
                (click)="onSubmit(signInForm.value)">Submit</button>
            </div>
        </form>
    </div>
</div>