.sign-in-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    flex: 1 0 auto;
    .sign-in-camp {
        text-align: center;
        background: #ffffff;
        border-radius: 5px;
        border: 1px solid gainsboro;
        .sign-in-header {
            padding: 10px 0;
        }
        .sign-in-head {
            padding: 30px 0;
            border-bottom: 1px solid gainsboro;
        }
        .sign-in-form {
            padding: 30px 50px;
            background-color: #ecebec;
        }
        .sign-in-field {
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid gainsboro;
        }
        .submit {
            background: #ec1c24;
            color: #ffffff;
            border: 1px solid #ec1c24;
            outline: 0;
            cursor: pointer;
            font-weight: bold;
            text-transform: uppercase;
        }
        .guest-sign-in {
            background: #3B99D4;
            border: 1px solid #3B99D4;
        }

    }
}