/* You can add global styles to this file, and also import other style files */
body {
    background: #f1f3f6;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.upper-case {
    text-transform: uppercase;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    justify-content: space-between;
  }

  .toolbar span {
    margin: 0 16px;
  }